@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  color: rgb(127, 29, 29);
  background-color: rgb(254, 202, 202);
}
.info {
  color: rgb(30, 58, 138);
  background-color: rgb(191, 219, 254);
}
.success {
  color: rgb(20, 83, 45);
  background-color: rgb(187, 247, 208);
}
