<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <title>Flask Blog</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
  <!-- UIkit Icons -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

<body>
  <header class="nav-header uk-box-shadow-small">
    <nav class="uk-navbar-container uk-flex-middle" uk-navbar>
      <!-- Navbar/Brand Logo -->
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-text-bold uk-text-italic"
          href="{{ url_for('index_page') }}">Flask Blog</a>
      </div>
      <!-- Navigation items -->
      <ul class="uk-nav uk-padding-small uk-width-1-1">
        <li class=""><a href="{{ url_for('index_page') }}"><span class="" uk-icon="home"></span>Home</a></li>
        <li class=""><a href="{{ url_for('about_page') }}"><span class="" uk-icon="info"></span>About</a></li>
        <li><a href="{{ url_for('login_page') }}"><span class="" uk-icon="sign-in"></span>Login</a></li>
        <li><a href="{{ url_for('register_page') }}"><span class="" uk-icon="pencil"></span>Register</a></li>
      </ul>
      <!-- Navbar toggle icon -->
      <div class="uk-navbar-right burger uk-hidden@s">
        <span class="uk-navbar-toggle">
          <i class="">Menu</i> <i uk-navbar-toggle-icon></i>
        </span>
      </div>
    </nav>
  </header>

  <main class="uk-container">
    <!-- Display flash messages -->
    <div class="uk-margin-remove">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="uk-alert-{{ category }} uk-margin-remove" uk-alert>
              <a class="uk-alert-close" uk-close></a>
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <!-- End flash messages -->

    {% block main %}{% endblock main %}
  </main>
</body>
</html>
