<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <title>Flask Blog</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
  <!-- UIkit Icons -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header class="nav-header">
    <nav class="uk-navbar-container" uk-navbar>
      <!-- Navbar/Brand Logo -->
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{{ url_for('index_page') }}">Flask Blog</a>
      </div>

      <!-- Navbar toggle icon -->
      <div class="uk-navbar-right">
        <div class="menu-toggle" uk-toggle="target: #offcanvas-push">
          <span class="">Menu</span> <i uk-navbar-toggle-icon></i>
        </div>
      </div>

      <!-- Sidebar navigation -->
      <div id="offcanvas-push" uk-offcanvas="mode: slide; overlay: true; flip: true">
        <div class="uk-offcanvas-bar">
          <!-- Button to close the sidebar navigation -->
          <button class="uk-offcanvas-close" uk-close></button>
          <!-- Sidebar navigation links -->
          <ul class="uk-nav uk-nav-center uk-margin-top">
            <li class=""><a href="{{ url_for('index_page') }}"><span class="" uk-icon="home"></span>Home</a></li>
            <li class=""><a href="{{ url_for('about_page') }}"><span class="" uk-icon="info"></span>About</a></li>
            <li><a href="{{ url_for('login_page') }}"><span class="" uk-icon="sign-in"></span>Login</a></li>
            <li><a href="{{ url_for('register_page') }}"><span class="" uk-icon="pencil"></span>Register</a></li>
          </ul>
        </div> <!-- end off-canvas bar -->
      </div> <!-- end sidebar navigation -->
    </nav>
  </header>

  <main class="uk-container">
    <!-- Display flash messages -->
    <div class="uk-margin-remove">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="uk-alert-{{ category }} uk-margin-remove" uk-alert>
              <a class="uk-alert-close" uk-close></a>
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <!-- End flash messages -->

    {% block main %}{% endblock main %}
  </main>
</body>
</html>
