:root {
  --nav-bg: #01557e;
  --white: #ffffff;
}
body{
  min-height: 100vh;
  background-color: #F4F9F9;
}
.uk-logo, .uk-logo:hover, .uk-navbar-toggle{
  color: white;
}
.uk-navbar-left{ width: 50%; }
.nav-header{
  background-color: var(--nav-bg);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav ul{
  display: none;
  flex-direction: column;
  gap: .5em;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: inherit !important;
  z-index: 100;
}
nav ul a{ color: white; }

.uk-navbar-container{ background: inherit !important; }
.form-errors ul{ list-style-type: none; }

/* RESPONSIVE MEDIA QUERIES
======================================================= */
@media (min-width: 400px) {
  nav{ padding: 0 .5em; }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5em;
    position: static;
    background-color: inherit;
  }
  nav li a:hover{ color: silver; }
}
@media (min-width: 992px) {
  nav{ padding: 0 5em; }
}
@media (min-width: 1200px) {}
