<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/blog-favicon.jpeg') }}">
  <title>Flask Blog</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
  <!-- UIkit Icons -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header class="nav-header">
    <nav class="uk-navbar-container" uk-navbar>
      <!-- Navbar/Brand Logo -->
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Flask Blog</a>
      </div>

      <!-- Navbar toggle icon -->
      <div class="uk-navbar-right">
        <div class="menu-toggle" uk-toggle="target: #offcanvas-push">
          <span class="">Menu</span> <i uk-navbar-toggle-icon></i>
        </div>
      </div>

      <!-- Sidebar navigation -->
      <div id="offcanvas-push" uk-offcanvas="mode: slide; overlay: true; flip: true">
        <div class="uk-offcanvas-bar">
          <!-- Button to close the sidebar navigation -->
          <button class="uk-offcanvas-close" uk-close></button>
          <!-- Sidebar navigation links -->
          <ul class="uk-nav uk-nav-center uk-margin-top">
            <li class=""><a href="/"><span class="" uk-icon="home"></span>Home</a></li>
            <li class=""><a href="/about"><span class="" uk-icon="info"></span>About</a></li>
            <li><a href="/login"><span class="" uk-icon="sign-in"></span>Login</a></li>
            <li><a href="/register"><span class="" uk-icon="sign-out"></span>Register</a></li>
          </ul>
        </div> <!-- end off-canvas bar -->
      </div> <!-- end sidebar navigation -->
    </nav>
  </header>

  <main class="uk-container">
    {% block main %}{% endblock main %}
  </main>
</body>
</html>
