{% extends "layout.html" %}

{% block main %}
  <div>
    <form action="" method="POST" class="uk-form-stacked uk-padding">
      {{ form.hidden_tag() }}
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Login To Your Account</legend>

        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold" for="form-stacked-select">{{ form.email.label }}</label>
          <div class="uk-inline uk-width-1-1 uk-width-1-2@s">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            {{ form.email(class="uk-input uk-border-rounded", placeholder="Email Address") }}
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label uk-text-bold" for="form-stacked-select">{{ form.password.label }}</label>
          <div class="uk-inline uk-width-1-1 uk-width-1-2@s">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            {{ form.password(class="uk-input uk-border-rounded", placeholder="Enter Password") }}
          </div>
        </div>

        <div class="uk-margin">
          {{ form.submit(class="uk-button uk-button-primary uk-border-rounded uk-text-bold") }}
        </div>
      </fieldset>
    </form>
  </div>
{% endblock main %}
