{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block main %}
  <div class="">
    <form action="" method="POST" class="uk-form-stacked uk-padding-small">
      {{ form.hidden_tag() }}
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Register A New Account</legend>

        <div class="uk-margin-small">
          <label class="uk-form-label uk-text-bold" for="form-stacked-text">{{ form.username.label }}</label>
          <div class="uk-inline uk-width-1-1 uk-width-1-2@s">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            {{ form.username(class="uk-input uk-border-rounded", placeholder="Username") }}
            <!-- display error message using macro -->
            <div class="form-errors">
              {% if form.username.errors %}
                {{ macros.display_errors(form.username.errors) }}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="uk-margin-small">
          <label class="uk-form-label uk-text-bold" for="form-stacked-text">{{ form.email.label }}</label>
          <div class="uk-inline uk-width-1-1 uk-width-1-2@s">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            {{ form.email(class="uk-input uk-border-rounded", placeholder="Email Address") }}
          </div>
          <!-- display error message using macro -->
          <div class="form-errors">
            {% if form.email.errors %}
              {{ macros.display_errors(form.email.errors) }}
            {% endif %}
          </div>
        </div>

        <div class="uk-margin-small">
          <label class="uk-form-label uk-text-bold" for="form-stacked-text">{{ form.password.label }}</label>
          <div class="uk-inline uk-width-1-1 uk-width-1-2@s">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            {{ form.password(class="uk-input uk-border-rounded", placeholder="Enter a Strong password") }}
          </div>
          <!-- display error message using macro -->
          <div class="form-errors">
            {% if form.password.errors %}
              {{ macros.display_errors(form.password.errors) }}
            {% endif %}
          </div>
        </div>

        <div class="uk-margin-small">
          <label class="uk-form-label uk-text-bold" for="form-stacked-text">{{ form.confirm_password.label }}</label>
          <div class="uk-inline uk-width-1-1 uk-width-1-2@s">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            {{ form.confirm_password(class="uk-input uk-border-rounded", placeholder="Confirm Password") }}
          </div>
          <!-- display error message using macro -->
          <div class="form-errors">
            {% if form.confirm_password.errors %}
              {{ macros.display_errors(form.confirm_password.errors) }}
            {% endif %}
          </div>
        </div>

        <div class="uk-margin-top">
          {{ form.submit(class="uk-button uk-button-primary uk-border-rounded uk-text-bold") }}
        </div>
      </fieldset>

      <hr class="uk-horizontal-divider uk-width-1-1 uk-width-1-2@s">
      <div class="uk-margin-small uk-margin-top-remove">
        <p class="uk-text-small">Already have an account? <span>
          <a href="{{ url_for('login_page') }}">Sign In</a></span>
        </p>
      </div>
    </form>

  </div>
{% endblock main %}
