<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://fav.farm/✍️" />
    <title>Puny</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bundle.css') }}"
    />
  </head>
  <body class="bg-slate-100">
    <!-- Navigation -->
    <header class="bg-slate-500">
      <nav
        class="container mx-auto flex min-h-[10vh] max-w-5xl items-center justify-between px-3 md:px-[10vw]"
      >
        <!-- brand -->
        <div class="brand text-xl font-bold text-white">
          <a href="/">Puny</a>
        </div>
        <!-- Menu items -->
        <div class="flex gap-3 text-white">
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('profile_page') }}">Profile</a>
          <a href="{{ url_for('logout') }}">Logout</a>
          {% else %}
          <a href="{{ url_for('login_page') }}">Login</a>
          <a href="{{ url_for('register_page') }}">Register</a>
          {% endif %}
        </div>
      </nav>
    </header>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    <!-- check if messages exists -->
    {% if messages %}
    <!-- Loop through messages -->
    {% for category, message in messages %}
    <div class="container mx-auto {{ category }} p-4 my-2 rounded">
      {{ message }}
    </div>
    {% endfor %}
    <!-- end if statement -->
    {% endif %}
    <!-- end with statement -->
    {% endwith %}

    <!-- Main -->
    <main class="">{% block main %}{% endblock main %}</main>

    <!-- Footer -->
    <footer>{% block footer %} {% endblock footer %}</footer>

    <!-- Extra Javascript -->
    {% block js %} {% endblock js %}
  </body>
</html>
