{% extends "layout.html" %}

<!-- main content -->
{% block main %}
<section
  class="container mx-auto grid min-h-[90vh] items-center justify-center"
>
  <form method="POST" action="" class="rounded bg-white p-10 shadow-md">
    <!-- Hidden tags / CSRF_token -->
    {{ form.hidden_tag() }}

    <fieldset>
      <legend class="mb-7 text-center text-xl text-gray-500">
        Login to your Account
      </legend>

      <div class="mb-4">
        {{ form.email.label(class_="block font-light") }}
        <!-- form input -->
        {{ form.email(class="rounded w-full bg-gray-100 border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.email.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.password.label(class_="block font-light") }}
        <!-- form input -->
        {{ form.password(class="rounded w-full bg-gray-100 border-slate-300") }}
      </div>

      <div class="mb-4">
        {{ form.remember(class="rounded-full text-blue-500") }}
        <!-- remember me checkbox -->
        {{ form.remember.label(class_="font-light text-sm text-gray-500") }}
      </div>

      {{ form.submit(class="rounded-full bg-slate-600 py-2 w-full font-normal
      text-white cursor-pointer hover:shadow-sm hover:bg-slate-500",
      id="loginBtn" ) }}
    </fieldset>

    <hr class="mt-5 mb-2" />
    <p class="text-sm italic text-gray-600">
      Need an account?
      <a href="{{ url_for('register_page') }}" class="text-blue-500">
        Sign Up Now
      </a>
    </p>
  </form>
</section>
{% endblock main %}
