{% extends "layout.html" %}

<!-- main content -->
{% block main %}
<section
  class="container mx-auto grid min-h-[90vh] items-center justify-center"
>
  <form method="POST" action="" class="rounded bg-white p-10 shadow-md">
    <!-- Hidden tags / CSRF_token -->
    {{ form.hidden_tag() }}

    <fieldset>
      <legend class="mb-7 text-center text-xl">Register New Account</legend>

      <div class="mb-4">
        {{ form.username.label(class="block font-light") }}
        <!-- form input -->
        {{ form.username(class="rounded w-full bg-gray-100 border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.username.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.email.label(class="block font-light") }}
        <!-- form input -->
        {{ form.email(class="rounded w-full bg-gray-100 border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.email.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mb-6">
        {{ form.password.label(class="block font-light") }}
        <!-- form input -->
        {{ form.password(class="rounded w-full bg-gray-100 border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.password.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.confirm_password.label(class="block font-light") }}
        <!-- form input -->
        {{ form.confirm_password(class="rounded w-full bg-gray-100
        border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.confirm_password.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      {{ form.submit(class="rounded-full bg-slate-600 py-2 w-full font-normal
      text-white cursor-pointer hover:shadow-sm hover:bg-slate-500",
      id="registerBtn" ) }}
    </fieldset>

    <hr class="mt-5 mb-2" />
    <p class="text-sm italic text-gray-600">
      Already have an account?
      <a href="{{ url_for('login_page') }}" class="text-blue-500">
        Login Now
      </a>
    </p>
  </form>
</section>
{% endblock main %}

<!-- Extra javascript validation form -->
{% block js %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/register.js') }}"
></script>
{% endblock js %}
