{% extends "layout.html" %}

<!-- main content -->
{% block main %}
<section class="container mx-auto max-w-5xl py-5 px-3 md:px-[10vw]">
  <form method="POST" action="" class="rounded bg-white p-10 shadow">
    <!-- Hidden tags / CSRF_token -->
    {{ form.hidden_tag() }}

    <fieldset>
      <legend class="mb-7 text-center text-xl text-gray-500">
        Update Post
      </legend>

      <div class="mb-4">
        {{ form.title.label(class="block font-light") }}
        <!-- form input -->
        {{ form.title(class="rounded w-full bg-gray-100 border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.title.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.content.label(class="block font-light") }}
        <!-- form input -->
        {{ form.content(class="rounded w-full bg-gray-100 border-slate-300") }}

        <!-- display error messages -->
        {% for error in form.content.errors %}
        <p class="mt-1 text-xs text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      {{ form.submit(class="rounded-md bg-slate-600 py-2 px-8 w-fit font-normal
      text-white cursor-pointer hover:shadow-sm hover:bg-slate-500") }}
    </fieldset>
  </form>
</section>
{% endblock main %}
